[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
aiohttp = "*"
aiohttp-wsgi = "*"
alembic = "*"
click = "*"
click-datetime = "*"
editdistance = "*"
elasticsearch = "*"
filedepot = "*"
flask-shell-ipython = "*"
gunicorn = "*"
ipython = "*"
passlib = "*"
psycopg2-binary = "*"
python-docx = "*"
pytz = "*"
texttable = "*"
sierrapy = "*"
Flask = "*"
Flask-Alembic = "*"
Flask-Cors = "*"
Flask-Elasticsearch = "*"
Flask-GraphQL = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
"pdfminer.six" = "*"
SQLAlchemy = "*"
SQLAlchemy-Utils = "*"
Werkzeug = "*"
"z3c.rml" = "*"
graphene-sqlalchemy = ">=2"
graphql-relay = "<3"
iso8601 = "*"

[requires]
python_version = "3.7"
